@use 'reset';

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 900px;
}

.menu-container {
    width: 100%;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    .menu-list {
        display: flex;
        width: 100%;
        justify-content: stretch;
        list-style-type: none;
        
        .menu-item {
            margin: 5px;
            min-width: 150px;
            text-align: center;
        }
        
        .menu-item a {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;

        }
    }
}

.canvas-container {
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    z-index: 1000;

    padding: 10px;

    text-align: center;
}