name: Publish Node.js Package

on:
  push:
    branches:
      - master

jobs:
  name: Build
  build:
    runs-on: ubuntu-latest
    container: node:slim
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: npm test

  publish-gpr:
    name: Publish Package
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: package-lock.json
          registry-url: https://npm.pkg.github.com/
          scope: '@postgeek'
      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
